# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# lex/yacc
*.exe
*.tab.c
*.tab.h
*.tab.cc
*.tab.hh
*.yy.c
*.yy.cc
location.hh
position.hh
stack.hh

# output
krystal

